@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,300&display=swap');

:root{
    --main-color: #0d339cf5;
    --black-clor: #131212;
    --border: 0.1rem soild rgba(255,255,255,0.4);

}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}

/*! base html codes */
html{
    font-size: 62.5%;    
    overflow-x: hidden;  
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: white;
}

 html::-webkit-scrollbar-thumb{
    background-color: var(--black-clor);
 }

 html::-webkit-scrollbar-track{
    background-color: transparent;
 }

body{
    background-color: var(--main-color);  
}

section{
    padding: 3.5rem 7%;
}

a{
    color: var(--black-clor);
    text-decoration: none
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color:  var(--black-clor);
    cursor: pointer;

}

.btn:hover{
    opacity: 0.9;
}

.heading{
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid white ;
}

.heading span{
    color: var(--black-clor);
    text-transform: uppercase;
}

.search-input{
    font-size: 1.6rem;
    color: var(--black-clor);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}

 /*! header start  */
 .header .logo img {
    height: 10rem;
 }
 .header{
 background-color: white;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 padding: 0 7%;
 margin: 2rem 7%;
 border-radius: 30rem;
 box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75 );
 position: sticky;
 top: 0;
 z-index: 1000;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-clor);
    border-bottom: 0.1rem solid transparent;  
}

.header .navbar .active,
.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem ;
    background-color: transparent;
}

#menu-btn{
    display: none;
}

 /*! header end    */

/*! home start    */
 .home{
    min-height: 100vh;
    background: url(../images/home.jpg)
    no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
 }

.home .content{
    max-width: 60rem;    
}

.home .content h3 {
    font-size: 5rem;
    color: #ffffff;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: rgb(0, 0, 0);  
}

.home .content p{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.8;
    padding: 1rem 0;
    color: #ffffff;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
/*! home end      */

/*! menu start    */
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.menu .box-container .box{
    padding: 3rem;
    background-color: white;
    border-radius: 3rem;
    background-color: #fff;
    min-height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.menu .box-container .box img{
    width: 55%;
    object-fit: cover;
}

.menu .box-container .box .menu-kategori{
    display: flex;
    font-size: 1.4rem;
}

.menu .box-container .box h3{
    font-size: 3rem;
    padding: 1rem 0;
}

.menu .box-container .box .fiyat{
    font-size: 2.5rem;
    padding: 0.5rem 0;
}


    
/*! menu end      */

/*! about start   */
.about .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row img{
    width: 100%;    
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h3{
    font-size: 4.5rem;
    color: #fff;
}

.about .row .content p{
    font-size: 3rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8 0;
}

/*! about end     */

/*! contact start  */
.contact .row {
    display: flex;
    background-color: var(--black-clor);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: white;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--border);
}

.contact .row form .inputBox i{
    color: white;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: white;
    text-transform: none;
    background-color: transparent;
}

.contact .row form .btn{
    color: var(--main-color);
    background-color: white;
    font-weight: bold;
}
/*! contact end    */

/*! footer start   */
.footer{
    background-color: var(--black-clor);
    text-align: center;
}

.footer .search{
    display: flex;
    justify-content: center;
}
 .footer .search .search-input{
    width: 30rem;
 }

 .footer .search .btn-primary{
    background-color: var(--main-color);
    padding: 1rem 2rem;
    margin-left: 1rem;
 }

 .footer .share{
    padding: 2rem 0;

 }

 
 .footer .share a{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    font-size: 2rem;
    border: var(white);
    border-radius: 50%;
    margin: 0.3rem;
 }

 .footer .share a:hover{
    background-color: var(--main-color);
 }
 
/*! footer end     */

/*! responsive start  */

@media (max-width: 991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    .header .logo img{
        height: 7rem;
    }

    section{
        padding: 2rem;
    }

    .products .box-container .box .box-head .name{
        font-size: 3.4rem;
    }
  
}

@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 95%;
        background-color: white;
        height: calc(100vh - 9rem);
        width: 30rem;
        box-shadow: 0px 20px 14px 0px rgb(0, 0, 0 / 75%);
        right: -100%;
    }

    .header .navbar.active{
        right: 3rem;
    }

    .header .navbar a{
        color: var(--black-clor);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

}

/*! responsive end    */


